<div class="hero-grid">
    <div class="item item-1">
        <h3> Who are we?</h3>
        Every young life matters provides the highest quality of respite care for your child and your family in the
        comfort of your own home and at affordable rates.
    </div>
    <div class="item item-2">
        <h3>Does our respite care meet your child and family needs ?</h3>
        We want to help you to achieve the best family life balance as we take care of your child’s needs.
    </div>
    <div class="item item-3">
        <h3>Why you should choose us ?</h3>
        We are passionate about inclusion, committed to making a positive difference and driven by your child`s
        potential and their achievements.
    </div>
    <div class="item item-4">
        To hear more about what we can offer your child and your family please click here to send your inquiry.
        To join our team of talented carers please send your inquiry :
    </div>
</div>